<div class='container' id="profile">
      <div class="container-fluid well span6">
        <div class="row-fluid">
          <div class="span8">
            <h1 class="display-3">Profile Page</h1>
            <h3>User Name: <span id='userName'>{{user.userName}}</span></h3>
            <h4>Car Model: 
              <span id='carModel'>{{user.carModel}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn-info" id='update-car'>Update Car info</button>
            </h4>
            
            <div class="form-group" id="car-input">
              <label for="car">Car:</label>
              <input type="text" class="form-control" id="car">
              <button type="submit" id="new-car">Submit new car</button>
            </div>

            <br>
            <div id='trips'>
              <h3>Trips:</h3>
                <table class="table table-hover" id="profile_results">
                  <thead>
                    <tr>
                      <th><h3>Origin</h3></th>
                      <th><h3>Destination</h3></th>
                      <th><h3>Driver ID</h3></th>
                      <th><h3>Rider ID</h3></th>
                      <th><h3>Trip Starting Time</h3></th>
                      <th><h3>Trip Price</h3></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each trips}}
                    <tr>
                      <td>{{this.driverOrigin}}</td>
                      <td>{{this.driverDestination}}</td>
                      <td>{{this.driverId}}</td>
                      <td>{{this.riderId}}</td>
                      <td>{{this.startTime}}</td>
                      <td>{{this.tripPrice}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
            </div>
          </div>
            
          {{!--<div class="span2">
            <div class="btn-group">
              <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                Action 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="#"><span class="icon-wrench"></span> Modify User</a></li>
                  <li><a href="#"><span class="icon-trash"></span> Delete User</a></li>
              </ul>
            </div>
          </div>--}}
        </div>
      </div>
    </div>
    <script>
      $('#car-input').hide();
      $('#update-car').on('click', function(){
        $('#car-input').show();
      })

      $('#new-car').on('click', function(){
        $('#car-input').hide();
        $.ajax({
          method:'PUT',
          url: '/newcar',
          data: $('#car').val().trim()
        }).done(function(){
          console.log('done changing car!')
          $('#carModel').text($('#car').val().trim())
        })
      })
    </script>