<div class="form" id="results_table">
  <h1 class="display-3">Search Results</h1>
    <div class="searching">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><h3>Driver Name</h3></th>
            <th><h3>Trip Time</h3></th>
            <th><h3>Car Model</h3></th>
            <th><h3>Trip Price</h3></th>
            <th><h3>Origin</h3></th>
            <th><h3>Destination</h3></th>
            <th><h3>Select</h3></th>
          </tr>
        </thead>
        <tbody>
          <hr>
          <tr>
            <ul>
              {{#each trips}}
                  <td>{{this.driverName}}</td>
                  <td>{{this.startTime}}</td>
                  <td>{{this.carModel}}</td>
                  <td>{{this.driverOrigin}}</td>
                  <td>{{this.driverDestination}}</td>
                  <td>{{this.tripPrice}}</td>
                  <td><button type="submit" class="glyphicon glyphicon-plus"></button></td>
              {{/each}}
            </ul>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">

</script>