<table class="table table-hover" id="results_table">
  <thead>
    <tr>
      <th><h3>Driver Name</h3></th>
      <th><h3>Trip Time</h3></th>
      <th><h3>Car Model</h3></th>
      <th><h3>Trip Price</h3></th>
      <th><h3>Origin</h3></th>
      <th><h3>Destination</h3></th>
      <th><h3>Select</h3></th>
    </tr>
  </thead>
  <tbody>
    <hr>
    <tr>
      <ul>
        {{#each trips}}
          <li>
            <td>{{this.driverName}}</td>
            <td>{{this.startTime}}</td>
            <td>{{this.carModel}}</td>
            <td>{{this.tripPrice}}</td>
            <td>{{this.driverOrigin}}</td>
            <td>{{this.driverDestination}}</td>
            <td><button type="submit" class="glyphicon glyphicon-plus"></button></td>
          </li>
        {{/each}}
      </ul>
    </tr>
  </tbody>
</table>

<!-- results -->
  <!-- trip day -->
  <!-- driver name -->
  <!-- driver car model -->
  <!-- driver price  -->
  <!-- trip time -->
